# Enhanced python interpreter
ipython

# Django essentials
django
django-cors-headers
django-debug-toolbar
whitenoise

# ASGI server requirements
gunicorn
uvicorn

# Database adapters
psycopg2-binary
dj-database-url

# Distributed async tasks management
celery
redis
django-celery-beat

# Telegram bot handling
python-telegram-bot

# Additional requirements, grouped by their purpose or removes not directly declared dependencies
amqp
anyio
APScheduler
asgiref
asttokens
async-timeout
backcall
billiard
cachetools
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
comm
debugpy
decorator
Deprecated
django-timezone-field
executing
filelock
fsspec
h11
httpcore
httpx
idna
ipykernel
jedi
Jinja2
jupyter_client
jupyter_core
kombu
MarkupSafe
matplotlib-inline
mpmath
nest-asyncio
networkx
packaging
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-crontab
python-dateutil
pyzmq
six
sniffio
sqlparse
stack-data
sympy
torch
torchaudio
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
vine
wcwidth
wrapt